
NEXT_PUBLIC_SUPABASE_URL=https://pesknxomyyfkdwnehqjk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBlc2tueG9teXlma2R3bmVocWprIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcyODM0MjIsImV4cCI6MjEwMjg1OTQyMn0.e1lG5DD35qDMsyUkrr_AhfBKPzzJEOcZOuAupcv0fCw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBlc2tueG9teXlma2R3bmVocWprIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NzI4MzQyMiwiZXhwIjoyMTAyODU5NDIyfQ.LujdGYakEQ89xsGax9Wg0bwgNBQ1NnlKa6Y4TIEaRlM
ADMIN_PASSWORD=viralme_admin_secret
# Datafa.st Analytics
# NEXT_PUBLIC_DATAFAST_ID=your_datafast_id

POLAR_SERVER=production
POLAR_ACCESS_TOKEN=polar_oat_uOuI2KmmS72g0bFNVfw0r6mi6r0YuGjbdCFdS3JwCDc
POLAR_WEBHOOK_SECRET=whsec_1p7d8hxdn9zf8698rzzr5vfnm5v4o7imouujphk30dfg

POLAR_PRODUCT_ID=f2fa4da3-37b1-4b32-9128-873aa4daf2d6

